<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MythosAPI</title>
</head>
<body>
<h1>Commands:</h1>
<h2>GET</h2>
<h3>/mythos/{id}</h3>
<p>-> Get an specific Mythos story</p>
<h3>/mythos/name/{mythosId}</h3>
<p>-> Get a list of stories in an specific Mythos</p>
<h3>/mythos</h3>
<p>-> Get all the Mythos stories</p>
<h3>/mythos/comptar/{mythosId}</h3>
<p>-> Get the quantity of stories in an specific Mythos</p>
<h2>POST</h2>
<h3>/mythos</h3>
<p>-> Post a story</p>
<h2>DELETE</h2>
<h3>/mythos/{mythosId}</h3>
<p>-> Delete a story</p>
<h2>Put</h2>
<h3>/mythos</h3>
<p>-> Modify a story</p>
</body>
</html>